#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define FN  1
#define SYM 2
#define BTM 3


&kscan0 {
       debounce-press-ms = <30>;
       debounce-release-ms = <30>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <63 66>;
            bindings = <&caps_word>;
            layers = <0>;
        };
    };

    behaviors {
        /*
         * td_tap:
         * - tap: action 1
         * - hold: action 2
         * - tap+hold/chord: action 1
         */
        td_tap: td_tap_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp &kp>;
        };

        /*
         * td_hold:
         * - tap: action 1
         * - hold: action 2
         * - tap+hold/chord: action 2
         */
        td_hold: td_hold_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
            bindings = <&mo &kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 00 │ 01 │ 02 │ 03 │ 04 │ 05 │   │ 06 │ 07 │ 08 │ 09 │ 10 │ 11 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&td_tap GRAVE ESC    &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 12 │ 13 │ 14 │ 15 │ 16 │ 17 │   │ 18 │ 19 │ 20 │ 21 │ 22 │ 23 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&td_hold FN TAB       &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 24 │ 25 │ 26 │ 27 │ 28 │ 29 │   │ 30 │ 31 │ 32 │ 33 │ 34 │ 35 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans       &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 36 │ 37 │ 38 │ 39 │ 40 │ 41 │   │ 42 │ 43 │ 44 │ 45 │ 46 │ 47 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&mo BTM      &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp BSLH
//                                     ╭────┬────┬────┬────╮                     ╭────┬────┬────┬────╮
//                                     │ 48 │ 49 │ 50 │ 51 │                     │ 52 │ 53 │ 54 │ 55 │
//                                     ╰────┴────┴────┴────╯                     ╰────┴────┴────┴────╯
             &kp LG(SPACE) &trans    &kp LEFT    &kp RIGHT                            &kp DOWN    &kp UP      &trans      &kp PSCRN
//                                                          ╭────┬────┬────┬────╮
//                                                          │ 56 │ 57 │ 58 │ 59 │
//                                                          ╰────┴────┴────┴────╯
                                                &kp EQUAL   &kp LGUI    &trans      &mt LCTRL RET
//                                                               ╭────┬────╮
//                                                               │ 60 │ 61 │
//                                                               ╰────┴────╯
                                                            &kp LALT    &kp TAB
//                                                     ╭────┬────┬────┬────┬────┬────╮
//                                                     │ 62 │ 63 │ 64 │ 65 │ 66 │ 67 │
//                                                     ╰────┴────┴────┴────┴────┴────╯
                                     &kp LSHFT  &kp SPACE    &kp LCTRL   &lt SYM RET  &mt LSHIFT SPACE &td_hold SYM BSPC
            >;
        };

        fn_layer {
            display-name = "fn";
            bindings = <
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 00 │ 01 │ 02 │ 03 │ 04 │ 05 │   │ 06 │ 07 │ 08 │ 09 │ 10 │ 11 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 12 │ 13 │ 14 │ 15 │ 16 │ 17 │   │ 18 │ 19 │ 20 │ 21 │ 22 │ 23 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp F12
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 24 │ 25 │ 26 │ 27 │ 28 │ 29 │   │ 30 │ 31 │ 32 │ 33 │ 34 │ 35 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 36 │ 37 │ 38 │ 39 │ 40 │ 41 │   │ 42 │ 43 │ 44 │ 45 │ 46 │ 47 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
//                                     ╭────┬────┬────┬────╮                     ╭────┬────┬────┬────╮
//                                     │ 48 │ 49 │ 50 │ 51 │                     │ 52 │ 53 │ 54 │ 55 │
//                                     ╰────┴────┴────┴────╯                     ╰────┴────┴────┴────╯
      &trans &trans &trans &trans                         &trans &trans &trans &trans
//                                                          ╭────┬────┬────┬────╮
//                                                          │ 56 │ 57 │ 58 │ 59 │
//                                                          ╰────┴────┴────┴────╯
                              &trans &trans &trans &trans
//                                                               ╭────┬────╮
//                                                               │ 60 │ 61 │
//                                                               ╰────┴────╯
                                          &trans &trans
//                                                     ╭────┬────┬────┬────┬────┬────╮
//                                                     │ 62 │ 63 │ 64 │ 65 │ 66 │ 67 │
//                                                     ╰────┴────┴────┴────┴────┴────╯
                   &trans &trans &trans &trans &trans &trans
            >;
        };

        symbols_layer {
            display-name = "Symbols";
            bindings = <
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 00 │ 01 │ 02 │ 03 │ 04 │ 05 │   │ 06 │ 07 │ 08 │ 09 │ 10 │ 11 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 12 │ 13 │ 14 │ 15 │ 16 │ 17 │   │ 18 │ 19 │ 20 │ 21 │ 22 │ 23 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp C_VOL_UP
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 24 │ 25 │ 26 │ 27 │ 28 │ 29 │   │ 30 │ 31 │ 32 │ 33 │ 34 │ 35 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &kp EQUAL &kp MINUS &trans &trans &trans &trans &kp C_VOL_DN
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 36 │ 37 │ 38 │ 39 │ 40 │ 41 │   │ 42 │ 43 │ 44 │ 45 │ 46 │ 47 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &trans &trans &trans &kp LBKT &kp RBKT &trans &kp C_MUTE
//                                     ╭────┬────┬────┬────╮                     ╭────┬────┬────┬────╮
//                                     │ 48 │ 49 │ 50 │ 51 │                     │ 52 │ 53 │ 54 │ 55 │
//                                     ╰────┴────┴────┴────╯                     ╰────┴────┴────┴────╯
      &trans &trans &trans &trans                         &trans &trans &trans &trans
//                                                          ╭────┬────┬────┬────╮
//                                                          │ 56 │ 57 │ 58 │ 59 │
//                                                          ╰────┴────┴────┴────╯
                              &trans &trans &trans &trans
//                                                               ╭────┬────╮
//                                                               │ 60 │ 61 │
//                                                               ╰────┴────╯
                                          &trans &trans
//                                                     ╭────┬────┬────┬────┬────┬────╮
//                                                     │ 62 │ 63 │ 64 │ 65 │ 66 │ 67 │
//                                                     ╰────┴────┴────┴────┴────┴────╯
                   &trans &trans &trans &trans &trans &trans
            >;
        };

        bt_media_layer {
            display-name = "BT+Media";
            bindings = <
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 00 │ 01 │ 02 │ 03 │ 04 │ 05 │   │ 06 │ 07 │ 08 │ 09 │ 10 │ 11 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &trans &trans &trans &trans &trans &trans &trans
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 12 │ 13 │ 14 │ 15 │ 16 │ 17 │   │ 18 │ 19 │ 20 │ 21 │ 22 │ 23 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 24 │ 25 │ 26 │ 27 │ 28 │ 29 │   │ 30 │ 31 │ 32 │ 33 │ 34 │ 35 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&bt BT_CLR &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
//                                    ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//                                    │ 36 │ 37 │ 38 │ 39 │ 40 │ 41 │   │ 42 │ 43 │ 44 │ 45 │ 46 │ 47 │
//                                    ╰────┴────┴────┴────┴────┴────╯   ╰────┴────┴────┴────┴────┴────╯
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
//                                     ╭────┬────┬────┬────╮                     ╭────┬────┬────┬────╮
//                                     │ 48 │ 49 │ 50 │ 51 │                     │ 52 │ 53 │ 54 │ 55 │
//                                     ╰────┴────┴────┴────╯                     ╰────┴────┴────┴────╯
      &trans &trans &trans &trans                         &trans &trans &trans &trans
//                                                          ╭────┬────┬────┬────╮
//                                                          │ 56 │ 57 │ 58 │ 59 │
//                                                          ╰────┴────┴────┴────╯
                              &trans &trans &trans &trans
//                                                               ╭────┬────╮
//                                                               │ 60 │ 61 │
//                                                               ╰────┴────╯
                                          &trans &trans
//                                                     ╭────┬────┬────┬────┬────┬────╮
//                                                     │ 62 │ 63 │ 64 │ 65 │ 66 │ 67 │
//                                                     ╰────┴────┴────┴────┴────┴────╯
                   &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
